# Python
venv/
__pycache__/
*.pyc

# Database
*.db

# Environment files
.env

# React
node_modules/
build/

# VS Code
.vscode/

# OS files
Thumbs.db
.DS_Store
*.csv
backend/cleaned_delays.csv
backend/steel_delays.db
frontend/node_modules/
venv/
__pycache__/
*.pyc